<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @credit_section.title %>
</p>

<%= link_to 'Edit', edit_credit_section_path(@credit_section) %> |
<%= link_to 'Back', credit_sections_path %>
