
<%= stylesheet_link_tag "admin" %>
<%= render 'partials/navbarAdmin' %>


<div class="admin_container mt-4 font_PT_sans">
    <h1 class="text-center fw-bold">Admin Console</h1>

    <div class="admin_body mt-3">
        <div class="left_a">
            <ul class="list-group">
                <small class="text-center text-body-secondary">Add readymade questions to your form</small>
                <li class="list-group-item text-center fw-bold active mb-3" aria-current="true">Forms Pool</li>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Associate Proffessor</h5>
                    </div>
                    <small>Created: 3 days ago</small>
                    <p class="mb-1">Accepting Responses ✅</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Junior Proffessor</h5>
                    </div>
                    <small>Created: 36 days ago</small>
                    <p class="mb-1">Closed ❌</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Teaching Assistance</h5>
                    </div>
                    <small>Created: 132 days ago</small>
                    <p class="mb-1">Accepting Responses ✅</p>
                </a>
            </div>
            </ul>
        </div>
        <div class="middle_a">
            <div id="center_a">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center fw-bold">Form Preview</h3>
                    </div>
                    <div class="card-body">
                    <div class="card my-2">
                        <div class="card-header">
                            <span class="badge bg-primary rounded-pill">2</span>
                            <span class="badge rounded-pill text-bg-info">MCQ</span>
                            <span class="h5">Your maritial Status</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-body-secondary">Options</h5>
                            <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" checked>
                            <label class="btn" for="option5">Checked</label>

                            <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
                            <label class="btn" for="option6">Radio</label>

                            <input type="radio" class="btn-check" name="options-base" id="option7" autocomplete="off" disabled>
                            <label class="btn" for="option7">Disabled</label>

                            <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
                            <label class="btn" for="option8">Radio</label>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                <button class="btn btn-dark me-md-2 btn-sm" type="button">Edit</button>
                                <button class="btn btn-danger me-md-2 btn-sm" type="button">Remove</button>
                                <button class="btn btn-success btn-sm" type="button">Add to Form</button>
                            </div>
                        </div>
                    </div>
                    <div class="card my-2">
                        <div class="card-header">
                            <span class="badge bg-primary rounded-pill">2</span>
                            <span class="badge rounded-pill text-bg-info">text</span>
                            <span class="h5">Permanent address</span>
                            
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-body-secondary">Text Area</h5>
                            <div class="mb-3">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                <button class="btn btn-dark me-md-2 btn-sm" type="button">Edit</button>
                                <button class="btn btn-danger me-md-2 btn-sm" type="button">Remove</button>
                                <button class="btn btn-success btn-sm" type="button">Add to Form</button>
                            </div>
                        </div>
                    </div>
                    </div>
                        <div class="d-grid gap-2 col-6 mx-auto mb-3">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        New Question
                    </button>
                </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body new_ques">
                    <input type="radio" class="btn-check" name="options-base" id="option767" autocomplete="off" checked>
                    <label class="btn" for="option767">select</label>

                    <input type="radio" class="btn-check" name="options-base" id="option634" autocomplete="off">
                    <label class="btn" for="option634">text</label>

                    <input type="radio" class="btn-check" name="options-base" id="option743" autocomplete="off" disabled>
                    <label class="btn" for="option743">text area</label>

                    <input type="radio" class="btn-check" name="options-base" id="option438" autocomplete="off">
                    <label class="btn" for="option438">Radio</label>
                </div>
            </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        
                        <button class="btn btn-light me-md-2" type="button">Save as Template</button>
                        <button class="btn btn-primary" type="button">Done</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>