<%= stylesheet_link_tag "credits" %>
<!--stylsheet imported-->
<%= render 'partials/navbar' %>
<!--partial for navbar-->


<h1 class="font-jost text-center fw-bold">Credit Calculation</h1>

<!--credits container div starts -->
<div id="credits_container" class="font-jost mt-3">
    <!--Personal details start from here-->
    <div class="accordion" id="personal_details">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#person_detail">
                Personal Details
            </button>
            </h2>
            <div id="person_detail" class="accordion-collapse collapse show" data-bs-parent="#personal_details">
                <div class="accordion-body">
                    <form>
                    <div class="mb-3">
                        <label for="application_no" class="form-label">Application Number</label>
                        <input type="text" class="form-control" id="application_no">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Personal details end from here-->

    <!--Questions start from here-->
    <div class="accordion mt-5" id="details">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question_1">
                <span class="mr-5">Question # 1</span>
                    <div class="tick_div"><%= image_tag "tick.png", class:'tick_pic'%></div>
                </button>
            </h2>
            <div id="question_1" class="accordion-collapse collapse" data-bs-parent="#details">
                <div class="accordion-body">
                <form>
                    <div class="mb-3">
                    <label for="application_no" class="form-label">Application Number</label>
                    <input type="text" class="form-control" id="application_no">
                    </div>
                    <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name">
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question_2" aria-expanded="false" aria-controls="question2">
                <span class="mr-5">Accordion Item #2</span>
                <div class="tick_div"><%= image_tag "dash.png", class:'tick_pic'%></div>
            </button>
            </h2>
            <div id="question_2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question_3" aria-expanded="false" aria-controls="question_3">
                    <span class="">Accordion Item #3</span>
                </button>
            </h2>
            <div id="question_3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
                </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question_4" aria-expanded="false" aria-controls="question_4">
                    <span class="">Accordion Item #4</span>
                </button>
            </h2>
            <div id="question_4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question_5" aria-expanded="false" aria-controls="question_5">
                <span class="">Accordion Item #5</span>
                </button>
            </h2>
            <div id="question_5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
    <!--Questions end here-->

</div>
<!--credits container div ends -->

